flex-package{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

body{
  background: linear-gradient(45deg, rgb(63, 151, 251),rgb(87, 161, 246)); 
  color: white;

  h1{
    text-align: center;
    background-color: #3560a1;
    margin: 0;
    padding: 30px
  }
}

.container {
  @extend flex-package;
  padding: 50px;
  font-size: 1.2rem;
  margin-top: 5vh;
  // border: 2px solid;
  gap: 50px;

  .get-location{
    @extend flex-package;

    form{
      @extend flex-package;   
      gap: 20px;

      .user-input{
        @extend flex-package;
        // align-items: flex-start;
        gap: 5px;

        input{
          width: 100%;
          border: 1px solid rgb(53, 131, 234);
          border-radius: 50px;
          padding: 10px;
          text-align: center;
        }
      }

      button{
        padding: 10px;
        border: 1px solid black;
        border-radius: 40px;
        cursor: pointer;
        background-color: #ffe4c4;
        color: rgb(46, 46, 46);
      }
      button:active{
        background-color: lightgreen;
      }
    }
  }
  .render-data{
    @extend flex-package;
    font-size: 1.3rem;
    width: 100%;
    min-height: 300px;
    min-width: 300px;
    gap: 15px;
    p{
      margin: 0;
      padding: 0;
    }
  }
}
